.chartContainer {
  width: 90%;
  max-width: 1000px; /* Aumentar el ancho máximo */
  max-height: calc(95vh - 80px); /* Limitar la altura máxima para que no exceda la pantalla */
  margin: 4rem auto; /* Agregar margen superior para separar del header */
  margin-top: 140px;
  padding: 5%; /* Espaciado interno */
  background: #ffffff;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Habilitar barra de desplazamiento vertical */
  box-sizing: border-box; /* Incluir padding en el cálculo del ancho */
}
  
  h1 {
    font-size: 2rem; /* Tamaño más pequeño para el título */
    color: #444; /* Color más oscuro para el texto */
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; /* Centrar el título */
  }
  
  .doughnutChart {
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
    display: flex; /* Mostrar el gráfico y las referencias en una fila */
    justify-content: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
    gap: 20px; /* Espaciado entre el gráfico y las referencias */
    margin: 20px 0; /* Separar el gráfico circular de otros elementos */
  }
  
  .doughnutChart canvas {
    max-width: 500px; /* Limitar el tamaño máximo si es necesario */
  }
  
  canvas {
    width: 100%; /* Asegura que el gráfico ocupe todo el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .emotionReference {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center; /* Centrar el contenido */
  }
  
  .emotionReference h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .emotionReference ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Mostrar los elementos en una fila */
    justify-content: center; /* Centrar los elementos horizontalmente */
    gap: 20px; /* Espaciado entre los elementos */
  }
  
  .emotionReference li {
    font-size: 16px;
    margin: 0; /* Eliminar márgenes verticales */
  }